@charset "utf-8";

/* explain.page 전체 바디 css*/
.explain-container {
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 70px;
}

/* explain.page div 한칸 바디 css*/
.explain-body {
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.logo {
  max-width: 100px;

}

/* explain.page 모자회의 설명 div css*/
.explain-conference {
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;

}

/* explain.page 설명 title 바디 css*/
.explain-conference-title {
  display: flex;
  justify-content: flex-start;
  align-items: top;

}

/* explain.page 모자회의 png css*/
.explain-conference-png {
  display: flex;
  justify-content: left;
  align-items: center;

}

.explainpng {
  width: 100%;
  height: 100%;
}

/* explain.page 모자회의 자세한 설명 div css*/
.explain-conference-detail {
  text-align: left;
  line-height: 0.9;
  
}

/* explain.page 색깔모자 png div css*/
.explain-hats-png {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 20%;
  
}

/* explain.page 색깔모자 png css*/
.hatspng {
  width: 80%;
  height: 80%;
}

/* explain.page 색깔모자 설명 div css*/
.explain-hats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 10px;
  width: 80%;
  

}

/* explain.page 회의 방법 설명 css*/
.explain-conference-setting {

}
