@charset "utf-8";

/* teamPage 바디 css*/
.team-body {
  width: 100%;
  height: calc(100% - 144px);
}

/*teamPage 전체 바디로 봤을때 한줄 */
.team-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10px;
}

.team-row-top {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
}

/*모자라지않은 회의 로고 */
.hatslogo {
    width:130px;
    height:130px;
}

/* fe be 나누는 버튼*/
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* fe be 나누는 버튼 세부 사항*/
.button4 {
    background-color: #C7C6C6;
    color: black;
    width: 50%;
}
/* 팀원 한명 칸*/
.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin: 5px;
    box-shadow: 10px 10px 5px #C7C6C6;
    border-radius: 8px;
}
/*팀원 한명 칸에서 이미지와 소개 글 나눔*/
.polaroid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width:200px;
}
/*팀원 사진 크기 */
.profile {
    width: 130px;
    height: 160px;
}

.logo-team {
  max-width: 100px;
}

