@charset "utf-8";

/* teamPage 바디 css*/
.team-body {
  width: 100%;
  height: calc(100% - 72px);
  margin: auto;
}

/*teamPage 전체 바디로 봤을때 한줄 */
.team-row {
    margin:20px;
    display: flex;
    justify-content: space-evenly;
}

.team-row-top {
  margin-top: 0;
  /* padding-top: 30px;
  padding-bottom: 20px; */
  align-items: center;
}

/*모자라지않은 회의 로고 */
.hatslogo {
    width:130px;
    height:130px;
}

/* fe be 나누는 버튼*/
.button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
/* fe be 나누는 버튼 세부 사항*/
.button4 {
    background-color: #34A853;
    color: white;
    font-weight: bolder;
    width: 40%;
}
.button5 {
    background-color: #4285F4;
    color: white;
    font-weight: bolder;
    width: 40%;
}
/* 팀원 한명 칸*/
.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin: 5px;
    border-radius: 8px;
}
.polaroid:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin: 5px;
    box-shadow: 10px 10px 5px #C7C6C6;
    border-radius: 8px;
}
/*팀원 한명 칸에서 이미지와 소개 글 나눔*/
.polaroid div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px;
    width:160px;
    height: 160px;
}
/*팀원 사진 크기 */
.profile {
    width: 130px;
    height: 130px;
}

.logo-team {
  width: 100px;
}
.flip-card {
    background-color: transparent;
    width: 70%;
    height: 280px;
    perspective: 1000px;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    

  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #34A853;
    color: white;
    padding: 10px;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
    padding: 10px;
  }
