@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
.logo-container {
  width: 100%;
  height: calc(100% - 72px);
}
#landingexplain{
  text-align: left;
  animation : fadein 4s;
  font-family: 'Noto Sans KR', sans-serif;
}
.logo-body {
  height: 50%;
  display: inline-block;
  padding: 10px;
  animation:ani 1s infinite alternate;  
}

.logo {
  width: 100%;
  height: 100%;
}
@keyframes ani{
  0%{transform:translate(0,0);}
  100%{transform:translate(0,-20px);}
}  
