@charset "utf-8";

.main-notice-contents{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: left;
    background: rgba(255, 255, 255, 0.7);
    height: calc(100% - 72px);
}

.main-contents {
  border-collapse: separate;
  border-spacing: 0 10px;
}

#bar{
  width: 100%;
  height: 37.5px;
  background-color: #4285F4;
}